#b{ 
    color: peru;
} 

#i{
    text-align: center;
} 

#UL_p1{
    text-align: center; 
    color: palevioletred;
} 

#bo1{
    background-color: gold;
} 

#Bacp3{
    background-image: url("back.jpg");
} 

#tr{
    color: gold;
}
